<section class="mb-6" data-aos="fade-up" data-aos-delay="400">
  <div class="p-4 rounded-2xl shadow-md bg-white text-black">
    <h3 class="text-lg font-semibold mb-2">Última transacción</h3>
    <ng-container *ngIf="transaction">
      <p class="text-sm">{{ transaction()?.descripcion }}</p>
      <p class="text-xl font-bold"
         [class.text-green-600]="transaction()?.tipo === 'ingreso'"
         [class.text-red-600]="transaction()?.tipo === 'gasto'">
         {{ transaction()?.tipo === 'ingreso' ? '+' : '-' }} ${{ transaction()?.monto }}
      </p>
      <p class="text-xs text-gray-500">{{ transaction()?.fecha?.toDate() | date: 'medium' }}</p>
    </ng-container>
    <ng-container *ngIf="(true)">
      <p class="text-sm text-gray-400">No hay transacciones aún.</p>
    </ng-container>
  </div>
</section>
