

<!-- Gráfico cuando esté listo -->

<div
  class="grid grid-cols-1  gap-6 max-w-6xl mx-auto p-4 sm:p-6"
  data-aos="fade-up"
  data-aos-delay="300"
>
  <!-- Gráfico de barras -->
  <div
    class="bg-white rounded-2xl shadow-xl p-4 border border-[var(--border-color)]"
  >
    <h2 class="text-lg font-bold text-[var(--text-color)] mb-4">
      Historial mensual
    </h2>
    <apx-chart
      [series]="chartBarSeries"
      [chart]="chartBarOptions.chart!"
      [xaxis]="chartBarOptions.xaxis!"
      [colors]="['#10b981', '#ef4444']" 
      [stroke]="{ width: 2 }"
      [dataLabels]="{ enabled: false }"
      [legend]="{ position: 'bottom' }"
      [grid]="{ strokeDashArray: 5 }"
      [colors]="chartBarOptions.colors!"
      height="300"
    ></apx-chart>
  </div>

  <!-- Gráfico Donut -->
  <div
    class="bg-white rounded-2xl shadow-xl p-4 border border-[var(--border-color)]"
  >
    <h2 class="text-lg font-bold text-[var(--text-color)] mb-4">
      Distribución de gastos
    </h2>
    <apx-chart
      [series]="chartDonutSeries"
      [labels]="chartDonutLabels"
      [chart]="chartDonutOptions.chart!"
      [legend]="chartDonutOptions.legend!"
      [responsive]="chartDonutOptions.responsive!"
      [dataLabels]="{ enabled: true }"
      [colors]="chartDonutOptions.colors!"
      height="300"
    ></apx-chart>
  </div>
</div>
