<nav class="bg-main text-white px-6 py-3 shadow-md dark:bg-zinc-900 transition-all duration-300 ease-in-out">
    <div class="flex items-center sm:flex-row sm:items-center justify-between gap-4">
        <div class="flex items-center gap-2">
            <span class="text-2xl">💸</span>
            <h1 class="font-bold text-[15px] sm:text-lg lg:text-2xl">Finanzas Dashboard</h1>
        </div>

        <div class="flex gap-3">
            <button (click)="openModal.emit()"
                class="bg-white text-main font-semibold px-4 py-2 rounded-xl border-2 border-white hover:bg-hover hover:text-white transition-all duration-300">
                <i class="fa-solid fa-plus"></i> <span class="hidden md:inline">Agregar Movimiento</span> 
            </button>

            <button (click)="toggleDarkMode()" class="text-white hover:text-zinc-200 text-xl" title="Cambiar tema">
                🌓
            </button>
        </div>
    </div>

</nav>