<nav class="bg-main text-white px-6 py-3 shadow-md">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3">
        <div class="flex items-center gap-2">
            <span class="text-2xl">💸</span>
            <h1 class="font-bold text-lg">Finanzas Dashboard</h1>
        </div>

        <button (click)="openModal.emit()"
            class="bg-white text-main font-semibold px-4 py-2 rounded-xl border-2 border-white hover:bg-hover hover:text-white transition-all duration-200">
            + Agregar Movimiento
        </button>

    </div>
</nav>